<MQX_CloudTest>
	
	<MQX_dir>c:/mqx-repo</MQX_dir>
	<kptk_dir>c:/mcu_PSDK_test</kptk_dir>
	<demo_dir>c:/mcu-sdk</demo_dir>
	<repo_list>
	</repo_list>
	<NEW_repo_dir>c:/mqx_cloud_repo</NEW_repo_dir>
	<IDE cw10="no" cw10gcc="no" gcc_arm="no" iar="no" kds="no" uv4="no">compilers which station support</IDE>
	<IDE_dir>
		<cw10 version="10.4">C:/Freescale/CWMCUv10.4</cw10>
		<cw10gcc version="10.4">C:/Freescale/CWMCUv10.4</cw10gcc>
		<gcc_arm version="4.7">C:/GNUToolsARMEmbedded/4.72013q3</gcc_arm>
		<iar version="7.1">C:/IARSystems/EmbeddedWorkbench6.5</iar>
		<uv4 version="v5.00">C:/Keil/UV4</uv4>
		<kds version="1.0.1">C:/Freescale/KDS_1.0.1</kds>
	</IDE_dir>
	<software_debugger>
		<trace32>C:\DOUJIA~1</trace32>
	</software_debugger>
	<hardware_debugger jlink="yes" lauterbach="yes" pne="no">
		<jlink>C:\SEGGER\JLINKA~1</jlink>
	</hardware_debugger>
	<device>Tower Boards of station
	<twrk22f120m debug_port="2842592277" device_type="MK22FN512xxx12" serial_port="6">yes</twrk22f120m>
	<twrk22f120m256r debug_port="493716501" device_type="MK22FN256xxx12" serial_port="24">yes</twrk22f120m256r>
	</device>
	<executor_timeout>10</executor_timeout>
	
	<FTP_server>data exchange center
		<host>10.192.225.198</host>
		<user>ubuntu</user>
		<pwd>ubuntu</pwd>
	</FTP_server>
	
	<STAF_dir>c:/STAF</STAF_dir>
	<mingw>C:/MinGW</mingw>
	<Scheduler_IP>10.192.225.198</Scheduler_IP>
	<cmd_generator_IP>10.192.225.198</cmd_generator_IP>

	<tools>
		<FreeMV_tool>for MQX oobe</FreeMV_tool>
		<FreeKV_tool>for kptk</FreeKV_tool>
		<FreeKV_demo_tool>for KSDK demo</FreeKV_demo_tool>
		<FreeMV_ksdk_tool>for MQX oobe</FreeMV_ksdk_tool>
		<FreeKV_usb_tool>for KSDK usb</FreeKV_usb_tool>
		<FreeKV_unit_test_tool>for KSDK unit test</FreeKV_unit_test_tool>
		
	</tools>
	
	<FreeMV enable="no">C:\Dpc/FREEMV~2</FreeMV>
	<FreeKV enable="yes">C:\Dpc/FREEKV~2</FreeKV>
	<FreeKV_demo enable="yes">C:\Dpc/FREEKV~4</FreeKV_demo>
	<FreeMV_ksdk enable="yes">C:\Dpc/FREEMV~2</FreeMV_ksdk>
	<FreeKV_usb enable="no">C:\Dpc/FREEKV~4</FreeKV_usb>
	<FreeKV_unit_test enable="no">C:\Dpc/FREEKV~4</FreeKV_unit_test>
	<default_app_scope>auto</default_app_scope>
	<default_app_value>1</default_app_value>


	<local_ip>10.193.99.74</local_ip>
	<local_mac>F0-1F-AF-00-5E-13</local_mac>
	<machine_name>b46395-01</machine_name>
	<token private="no">1111</token>

</MQX_CloudTest>