<FreeKV_demo>


	
	<test_type>demo</test_type>

	
	<requestid>45</requestid>

	
	<app>gpio_i2c</app>

	
	<task_type>
		<build>no</build>
		<run>yes</run>
		<build_and_run>no</build_and_run>
	</task_type>

	
	<platform>twrk22f120m128r</platform>

	
	<IDE>iar</IDE>

	
	<debugger>jlink</debugger>

	
	<target>Debug</target>

	
	<build_lib>no</build_lib>

	
	<sync_enable>no</sync_enable>
	<branch>1addead275bd5061e5bab1ada99dd6557204a0f2</branch>

	
	<pre_configure>no</pre_configure>

	
	<app_info>no</app_info>

	
	<binary>C:/gpio_i2c.out</binary>
	
	
	<env>
		<psdk_demo_dir>C:/mcu-sdk</psdk_demo_dir>
		<iar version="6.73">C:\IARSystems\EmbeddedWorkbench72</iar>
		<gcc_arm version="4.7.4">C:/GNUToolsARMEmbedded/4.72013q3</gcc_arm>
		<uv4 version="v5.0">C:\Keil_v5\UV4</uv4>
		<kds version="1.0.1">C:/Freescale/KDS_1.0.1</kds>

		<mingw>C:/MinGW</mingw>
		<jlink>C:\PROGRA~1\SEGGER\JLINK_~1</jlink>
		

		<twrk64f120m debug_port="1030587413" device_type="MK64FN1M0xxx12" net_port="2331" serial_port="10" />
		<frdmk64f120m debug_port="2104394773" device_type="MK64FN1M0xxx12" net_port="2333" serial_port="18" />
		<twrk22f120m debug_port="762217493" device_type="MK22FN512xxx12" net_port="2335" serial_port="25" />
		<twrk22f120m128r debug_port="2104394773" device_type="MK22FN128xx10" net_port="2337" serial_port="38" />
		<twrk22f120m256r debug_port="2104394773" device_type="MK22FN256xxx12" net_port="2339" serial_port="38" />
		<twrkv31f120m debug_port="2104394773" device_type="MKV31F512xxx12" net_port="2341" serial_port="38" />
		<twrkv31f120m128r debug_port="2104394773" device_type="MKV31F128xxx10" net_port="2343" serial_port="38" />
		<twrkv31f120m256r debug_port="2104394773" device_type="MKV31F256xxx12" net_port="2345" serial_port="38" />
		<frdmk22f120m debug_port="1232045077" device_type="MK22FN512xxx12" net_port="2347" serial_port="57" />
		<twrk24f120m debug_port="762217493" device_type="MK24FN256xxx12" net_port="2349" serial_port="25" />
		<frdmkl03z48m debug_port="762217493" device_type="MKL03Z32xxx4" net_port="2351" serial_port="25" />
		<twrkv30f100m debug_port="762217493" device_type="MKV30F128xxx10" net_port="2353" serial_port="25" />
		<twrkl43z48m debug_port="762217493" device_type="MKL43Z256xxx4" net_port="2355" serial_port="25" />
		<frdmkl43z48m debug_port="762217493" device_type="MKL43Z256xxx4" net_port="2357" serial_port="25" />
		<frdmk22f120mk02 debug_port="762217493" device_type="MK02FN128xx10" net_port="2359" serial_port="25" />
		<twrk22f120mk02 debug_port="762217493" device_type="MK02FN128xx10" net_port="2361" serial_port="25" />
		<twrkv30f100mk02 debug_port="762217493" device_type="MK02FN128xx10" net_port="2363" serial_port="25" />
		<twrkv31f120mkv30 debug_port="762217493" device_type="MKV30F128xxx10" net_port="2365" serial_port="25" />


		<timeout>120</timeout>
		<download_cnt>3</download_cnt>


	</env>



</FreeKV_demo>